* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url("/images/background.png");
  background-position: center;
  background-size: cover;
  padding: 0 8%;
  position: relative;
}

.logo {
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}

.content h1 {
  font-size: 48px;
  font-weight: 600;
}

.content span {
  color: #ff4c60;
}

.content button {
  background: transparent;
  border: 2px solid #ff4c60;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.content button:hover {
  background: #ff4c60;
  color: #fff;
}

.content button img {
  width: 15px;
  margin-left: 10px;
}

.launching-time {
  display: flex;
}

.launching-time div {
  flex-basis: 100px;
}

.launching-time div p {
  font-size: 24px;
  font-weight: 600;
}

.rocket {
  width: 250px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}

@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}
